@mixin unvisible {
  opacity: 0;
  visibility: hidden;

  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &_visible {
    opacity: 1;
    visibility: visible;
  }
}

@mixin visible {
  opacity: 1;
  visibility: visible;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fadeVisibility($duration: 0.3s, $timing: ease-in-out) {
  &_visible {
    animation: appearance #{$duration} #{$timing} forwards;
  }

  &_hidden {
    animation: disappearance #{$duration} #{$timing} forwards;
  }

  @keyframes appearance {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes disappearance {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
}
