$primary: #1d3c6d;
$hover: #25457b;
$active: #1c3361;

$grey: #9a9a9a;
$grey-light: #c7c6c6;
$grey-new: #f5f5f5;
$grey-dark: #423e3e;
$grey-black: #666060;

$background-default: #050505;
$background-black: #0a0d1f;
$background-primary: #0c1931;
$background-secondary: #11172b;
$content-primary: #bcd4ff;
$content-secondary: #98a1c6;

$interactive-primary: #24407a;
$interactive-hover: #2b498e;
$interactive-active: #1d3c6d;

$success: #01d170b0;
$success-hover: #13f089c5;
$error: #cd0707;
$error-hover: #ec0303;
$warning: #e6d058;

$white: #f0f4ff;
$grey-light: #828da4;
$grey-dark: #393f52;
